.about {
  background: rgb(159,242,203);
  background: linear-gradient(90deg, rgba(159,242,203,1) 0%, rgba(20,101,150,1) 100%);
  text-align: center;
  height: 100vh;
}



.profile path {
  fill: #ff8801;
  fill-opacity: 1;
  stroke: #ff8801;
  stroke-width: 1;
  stroke-opacity: 1;
}


.profile1 path {
  fill: #f12fe7;
  fill-opacity: 1;
  stroke: #f12fe7;
  stroke-width: 1;
  stroke-opacity: 1;
}

#bgRow {
  position: absolute;
  top: 50px;
  opacity: 0.7;
}