.boff {
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 9%, rgba(3,10,73,1) 27%, rgb(34, 3, 85) 64%, rgb(0, 75, 203) 75%);
  color:rgb(255, 247, 170);
  text-align: center;
}

.boff header {
  margin-bottom: 4%; 
  padding-top: 2%;
  text-transform: uppercase;
  letter-spacing: 1em;
  border-bottom: 2px solid rgb(255, 247, 170);
}

#blurb {
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.2rem;
  color: black;
  background-image:
    radial-gradient(
      circle,
      rgba(177,251,246,1) 75%,
      rgba(2,0,36,1) 100%
    );
}

#bootsLogo {
  height: 1.3rem;
  width: 1.3rem;
  margin: 0 0.3rem 0 1.1rem;
}

#bootsLogo path {
  fill: rgb(108, 19, 131);
}

