.home {
  background-image: url("./motherbg.jpg");
}

.homeJumbo {
  height: 100vh;
  background: rgb(0, 3, 40);
  background: linear-gradient(157deg, rgba(0, 3, 40, 1) 27%, rgba(246, 80, 152, 1) 74%, rgba(227, 176, 103, 1) 86%);
  color: white;
  text-align: center;
  opacity: 0.8;
}

#arrowDown {
  transition: fill 0.5s ease height 0.5s ease width 0.5s ease;
}

#arrowDown path {
  fill: white;
}

#arrowDown:hover {
  height: 60px;
  width: 60px;
}

#downbtn:hover {
  background-color: transparent;
}

.skillbtn path {
  fill: white;
}

.skillbtn {
  height: 30pt;
  width: 30pt;
  padding: 0;
  fill: white;
  stroke: white;
}

#rails {
  height: 30pt;
  width: 70pt;
  padding: 0;
  fill: white;
  stroke: white;
}

@media only screen and (max-device-width: 375px) {
  .skillbtn {
    height: 20pt;
    width: 20pt;
  }

  #rails {
    height: 20pt;
    width: 60pt;
  }
}

@media only screen and (max-device-width: 300px) {
  .skillbtn {
    height: 25px;
    width: 25px;
  }

  #rails {
    height: 25px;
    width: 45px;
  }
}