footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(0, 3, 40);
  color: white;
}

#snsIcon {
  transition: fill 0.5s ease height 0.5s ease width 0.5s ease;
  width: 30px;
  height: 30px;
}

#snsIcon path {
  fill: white;
}

#snsIcon:hover path {
  fill: rgb(227, 176, 103);
}

#snsIcon:active path {
  fill: rgb(246, 80, 152);
}

#snsIcon:hover {
  height: 35px;
  width: 35px;
}
