#navbar {
  background-color: transparent;
  text-align: center;
  z-index: 2;
}

#toggle {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 2;
}

.overlay {
  height: 100vh;
  width: 100vw;
  background-color: black;
  opacity: 0.7;
}

.nlink {
  color: white;
  width: 100%;
  height: 100%;
  padding: 1.7rem;
}

.nlink:hover {
  color: black;
  text-decoration: none;
}

.nback:hover {
  background-color: white;
}

.nlink:active {
  color: gray;
}

.nav-link {
  display: block;
  padding: 2rem 1rem;
  height: 20vh;
}

.navbar-dark .navbar-toggler {
  border-color: #f8f9faa1;
}
