#navbar {
  background-color: transparent;
  text-align: center;
  z-index: 2;
}
#toggle{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.overlay {

  background-color: black;
  opacity: 0.7;
}

.nlink {
  color: white;
  width: 100%;
}

.nlink:hover {
  color: black;
  text-decoration: none;
}

.nback:hover {
  background-color: white;
}
.nlink:active {
 color: gray;
}

